$color-dark: #222222;
$color-grey: #adadad;
$color-light: #dedede;
$color-error: red;

:root {
    font-size: 16px;
}

ul li {
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-dark;
        color: $color-light;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .62rem 1rem;
    cursor: pointer;

    border: 1px solid $color-grey;
    border-radius: 5px;
    background-color: $color-dark;
    color: $color-light;
    box-shadow: -1px -1px 2px $color-grey;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-light;
        color: $color-dark;
    }
}

body {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    
    font-family: Arial, Helvetica, sans-serif;


    main {
        height: 100%;
        width: 100%;
        max-width: 640px;
        padding: 1rem;
    
        form {
            height: 100%;

            .form-content {

                .input-element {
                    margin-bottom: .5rem;
                
                    &.error {
                                                
                        label, input::placeholder, p { color: $color-error; }
                        input { 
                            border-color: $color-error;
                            box-shadow: -1px -1px 2px inset $color-error;
                        }
                    }

                    &.shake {
                        animation: horizontal-shaking .3s linear 1 alternate;
                    }

                    label, input {
                        display: block;
                        width: 100%;
                    }
                    
                    label {
                        font-weight: 600;
                    }

                    input {
                        margin: .25rem 0;
                        padding: .5rem .25rem;
                        border: 1px solid $color-grey;
                        box-shadow: -1px -1px 2px inset $color-grey;
                        border-radius: 5px;

                        &::placeholder {
                            color: $color-grey;
                        }

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }

                    p {
                        height: 2rem;
                        font-size: .8rem;
                    }
                }
            }
        }

        div ul {

            li {
                border: 1px solid rgb(180, 180, 180);

                a {
                    padding: .5rem 0 .5rem 1.5rem;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    line-height: 1.25;

                    &::before {
                        display: flex;
                        align-items: center;
                        content: "\235F";
                        font-size: 1.25rem;
                        padding-right: .5rem;
                        height: 100%;
                    }
                }
            }
        }

    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}