$color-dark: #222222;
$color-grey: #adadad;
$color-light: #dedede;
$color-error: red;

:root {
    font-size: 16px;
}

body {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;


    main {
        height: 100%;
        width: 100%;
        max-width: 640px;
        padding: 1rem;
    
        form {
            height: 100%;

            .form-content {

                .input-object {
                    margin-bottom: .5rem;
                
                    &.error {
                                                
                        label, input::placeholder, p { color: $color-error; }
                        input { 
                            border-color: $color-error;
                            box-shadow: -1px -1px 2px inset $color-error;
                        }
                    }

                    &.shake {
                        animation: horizontal-shaking .3s linear 1 alternate;
                    }

                    label, input {
                        display: block;
                        width: 100%;
                    }
                    
                    label {
                        font-weight: 600;
                    }

                    input {
                        margin: .25rem 0;
                        padding: .5rem .25rem;
                        border: 1px solid $color-grey;
                        box-shadow: -1px -1px 2px inset $color-grey;
                        border-radius: 5px;

                        &::placeholder {
                            color: $color-grey;
                        }

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }

                    p {
                        height: 1rem;
                        font-size: .8rem;
                    }
                }
            }
            
            button {
                padding: .62rem 1rem;
                cursor: pointer;

                border: 1px solid $color-grey;
                border-radius: 5px;
                background-color: $color-dark;
                color: $color-light;
                box-shadow: -1px -1px 2px $color-grey;
                transition: all .3s ease-in-out;

                &:hover {
                    scale: 1.05;
                    box-shadow: -2px -2px 4px $color-grey;
                }
            }
        }
    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}